@{
    var userID = User.FindFirstValue(ClaimTypes.NameIdentifier) ?? "anonymous";
    var notifications = await notificationService.GetNotificationsAsync(userID);
    notifications = notifications.OrderByDescending(n => n.Created);
}

<div class="header-left">
    <i class="fa-duotone fa-solid fa-magnifying-glass"></i>
    <input class="search" type="text" placeholder="Search anything...">
</div>

<div class="header-right">
    <div class="notification-icon">
        <i class="fa-duotone fa-solid fa-bell"></i>
        @if (notifications.Any())
        {
            <span class="notification-indicator"></span>
        }
    </div>

    <i onclick="showSettingsModal(this)" class="fa-duotone fa-solid fa-gear"></i>

    <div class="notification-container">
        <div class="notification-container-top">
            <h4>Notifications</h4>
            <span class="notification-number">@notifications.Count()</span>
        </div>

        <div class="notification-container-bottom">
            @foreach (var notification in notifications)
            {
                <div class="notification" data-id="@notification.Id">
                    <img class="image" alt="Notification Icon" src="@notification.Icon">
                    <div class="notification-info">
                        <p class="notification-message">@notification.Message</p>
                        <p class="notification-time" data-created="@notification.Created.ToString("s")">@notification.Created</p>
                    </div>

                    <button class="btn-close" onclick="dismissNotification('@notification.Id')">
                        <i class="fa-solid fa-times close"></i>
                    </button>
                </div>
            }
        </div>
    </div>
</div>

<img class="user-icon" src="Images/Avatar2.svg" />

<div class="user-container">
    <div class="user">
        <img class="member-icon" src="Images/Avatar2.svg" />
        <p>Harry Holmes</p>
    </div>

    <div class="dark-mode">
        <i class="fa-duotone fa-solid fa-moon"></i>
        <p>Dark Mode</p>
        <label class="toggle-switch">
            <input type="checkbox" id="custom-checkbox" class="custom-checkbox">
            <span class="custom-slider round"></span>
        </label>
    </div>

    <a class="logout" asp-action="SignOut" asp-controller="Auth">
        <i class="fa-duotone fa-solid fa-sign-out"></i>
        <p>Logout</p>
    </a>
</div>
