@model Business.Models.Member

<div class="members-container">
    <i class="more fa-solid fa-ellipsis"></i>
    <img class="member-icon" alt="member image" src="" />
    <h4 class="name">@Model.FirstName @Model.LastName</h4>
    <p class="role">@Model.JobTitle</p>
    <p class="email">@Model.Email</p>
    <p class="phone">@Model.PhoneNumber</p>
    <p class="message">Message</p>
</div>