@model ProjectCreationViewModel

<div class="over-box">
    <div class="over-box-content">

        <div class="add-project-top">
            <h2>Add Project</h2>
            <button class="btn-close"><i class="fa-solid fa-times close" id="project-close-button"></i></button>
        </div>

        
        <form class="add-project-form" name="createProject" asp-action="CreateProject" method="post" enctype="multipart/form-data" onsubmit="validateProject()">

        <partial name="Partials/_FileUpload" model="Model.FileUploadViewModel" />

            <div class="name-container">
                <label asp-for="ProjectName"></label>
                <input asp-for="ProjectName" name="projectName" type="text" id="project-name" placeholder="Project name"/>
                <div id="project-name-error" class="project-error text-danger" style="display: none;">Project must have a name.</div>
            </div>

            <div class="client-container">
                <label asp-for="ClientName"></label>
                <input asp-for="ClientName" name="clientName" type="text" id="project-client" placeholder="Client name"/>
                <div id="client-name-error" class="project-error text-danger" style="display: none;">Project must have a client.</div>
            </div>

            <div class="description-container">
                <label asp-for="ProjectDescription"></label>
                <input asp-for="ProjectDescription" name="projectDescription" id="project-description" placeholder="Type Something" />
                <div id="project-description-error" class="project-error text-danger" style="display: none;">Please add a description of the project.</div>
            </div>

            <div class="date-container">
                <div class="project-start">
                    <label asp-for="StartDate"></label>
                    <input asp-for="StartDate" name="startDate" type="date" id="project-start"/>
                    <div id="start-date-error" class="project-error text-danger" style="display: none;">Project must have a start date.</div>
                </div>

                <div class="project-end">
                    <label asp-for="EndDate"></label>
                    <input asp-for="EndDate" name="endDate" type="date" id="project-end" />
                    <div id="end-date-error" class="project-error text-danger" style="display: none;">Project must have an end date.</div>
                </div>
            </div>

            <div class="members-container">
                <label asp-for="Members"></label>
                <select class="member-select" id="member-select-add" onchange="updateSelectedMembers('member-select-add', 'selected-members-container-add')">
                    <option value="-- Assign members --" disabled selected>-- Assign members --</option>
                    @foreach (var member in ViewBag.Members)
                    {
                        <option value="@member.Id" data-name="@member.FirstName @member.LastName">@member.FirstName @member.LastName</option>
                    }
                </select>

                <div id="selected-members-container-add" class="selected-members">
                    <p>Selected Members</p>
                    <div class="selected-members-container">
                    </div>
                    <div id="member-error" class="project-error text-danger" style="display: none;">Please assign at least one member to start the project.</div>
                </div>
            </div>

            <div class="budget-container">
                <label asp-for="Budget"></label>
                <div class="input-container">
                    <span>$</span>
                    <input asp-for="Budget" name="budget" type="text" id="project-budget" placeholder="0" />
                </div>
                <div id="budget-error" class="project-error text-danger" style="display: none;">Please add a project budget.</div>
            </div>

            <div class="add-project-bottom">
                <button type="submit" class="btn btn--create">Create</button>
            </div>
        </form>
    </div>
</div>
